<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="answer_look.css" />
    </head>
    <body>
        <h1>Votre choix à bien été enregistré. Merci, aurevoir.</h1>
    </body>
</html>