<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="formations_list_look.css" />
    </head>
    <body>
        <h1>IT Academy</h1>
        <p>Entrer votre pseudo</p>
        <form action="/login/test" method="post">
            <input type="text" name="user" required="required"/>
            <button type="submit">Enregistrer</button>
        </form>
    </body>
</html>